<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="http_ICommonService_W" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
                    <reliableSession ordered="true" inactivityTimeout="04:00:00"
                        enabled="true" />
                    <security mode="None">
                        <transport realm="" />
                    </security>
                </binding>
                <binding name="http_ISGBaseDict_W" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="04:00:00" sendTimeout="00:03:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
                    <reliableSession ordered="true" inactivityTimeout="04:00:00"
                        enabled="true" />
                    <security mode="None">
                        <transport realm="" />
                    </security>
                </binding>
                <binding name="http_ISGBaseUser_W" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="04:00:00" sendTimeout="00:03:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
                    <reliableSession ordered="true" inactivityTimeout="04:00:00"
                        enabled="true" />
                    <security mode="None">
                        <transport realm="" />
                    </security>
                </binding>
                <binding name="http_ISGDatabase_W" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="04:00:00" sendTimeout="00:03:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
                    <reliableSession ordered="true" inactivityTimeout="04:00:00"
                        enabled="true" />
                    <security mode="None">
                        <transport realm="" />
                    </security>
                </binding>
                <binding name="http_ISGSetFunSQL_W" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="04:00:00" sendTimeout="00:03:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
                    <reliableSession ordered="true" inactivityTimeout="04:00:00"
                        enabled="true" />
                    <security mode="None">
                        <transport realm="" />
                    </security>
                </binding>
                <binding name="http_IExtGridControl_W" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="04:00:00" sendTimeout="00:03:00"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    useDefaultWebProxy="true" allowCookies="false">
                    <reliableSession inactivityTimeout="04:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22616/CommonService.svc"
                binding="wsHttpBinding" bindingConfiguration="http_ICommonService_W"
                contract="Base_CommonService_W.CommonService_W" name="http_ICommonService_W">
                <identity>
                    <dns value="http://loaclhost:9000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:22616/SGBaseDict.svc" binding="wsHttpBinding"
                bindingConfiguration="http_ISGBaseDict_W" contract="Base_SGBaseDict_W.SGBaseDict_W"
                name="http_ISGBaseDict_W">
                <identity>
                    <dns value="http://loaclhost:9000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:22616/SGBaseUser.svc" binding="wsHttpBinding"
                bindingConfiguration="http_ISGBaseUser_W" contract="Base_SGBaseUser_W.SGBaseUser_W"
                name="http_ISGBaseUser_W">
                <identity>
                    <dns value="http://loaclhost:9000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:22616/SGDatabase.svc" binding="wsHttpBinding"
                bindingConfiguration="http_ISGDatabase_W" contract="Database_SGDatabase_W.SGDatabase_W"
                name="http_ISGDatabase_W">
                <identity>
                    <dns value="http://loaclhost:9000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:22616/SGSetFunSQL.svc" binding="wsHttpBinding"
                bindingConfiguration="http_ISGSetFunSQL_W" contract="Set_SGSetFunSQL_W.SGSetFunSQL_W"
                name="http_ISGSetFunSQL_W">
                <identity>
                    <dns value="http://loaclhost:9000" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:22616/ExtGridControl.svc"
                binding="wsHttpBinding" bindingConfiguration="http_IExtGridControl_W"
                contract="ExtControl_ExtGridControl_W.ExtGridControl_W" name="http_IExtGridControl_W">
                <identity>
                    <dns value="http://192.168.2.9:9000" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>