<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="AppPath" value="F:\kj_Code\code\Exec" />
  </appSettings>
  <connectionStrings />
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Windows" />
    <httpRuntime executionTimeout="10800" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="8" appRequestQueueLimit="100" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="false" />
  </system.web>
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ISGDatabase" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="ISGSetFunSQL" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="ISGBaseUser" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="ICommonService" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="ISGBaseDict" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      <binding name="IExtGridControl" receiveTimeout="04:00:00" sendTimeout="00:03:00" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="6553600" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="6553600" maxNameTableCharCount="6553600" />
          <reliableSession ordered="true" inactivityTimeout="04:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="b_ISGDatabase_W" name="SG.Server.IISHost.Database.SGDatabase">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ISGDatabase" name="http_ISGDatabase_W" contract="SG.Server.IISHost.Database.ISGDatabase_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="b_ISGSetFunSQL_W" name="SG.Server.IISHost.Set.SGSetFunSQL">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ISGSetFunSQL" name="http_ISGSetFunSQL_W" contract="SG.Server.IISHost.Set.ISGSetFunSQL_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="b_SGBaseUser_W" name="SG.Server.IISHost.Base.SGBaseUser">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ISGBaseUser" name="http_ISGBaseUser_W" contract="SG.Server.IISHost.Base.ISGBaseUser_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="b_CommonService_W" name="SG.Server.IISHost.Base.CommonService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ICommonService" name="http_ICommonService_W" contract="SG.Server.IISHost.Base.ICommonService_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="b_SGBaseDict_W" name="SG.Server.IISHost.Base.SGBaseDict">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ISGBaseDict" name="http_ISGBaseDict_W" contract="SG.Server.IISHost.Base.ISGBaseDict_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
     <service behaviorConfiguration="b_ExtGridControl_W" name="SG.Server.IISHost.ExtControl.ExtGridControl">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="IExtGridControl" name="http_IExtGridControl_W" contract="SG.Server.IISHost.ExtControl.IExtGridControl_W">
          <identity>
            <dns value="http://loaclhost:9000" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="b_ISGDatabase_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="b_ISGSetFunSQL_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="b_SGBaseUser_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="b_CommonService_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="b_SGBaseDict_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
       <behavior name="b_ExtGridControl_W">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
        </staticContent>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="CommonService.svc" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>