<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="SystemConnectionString" value="">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ISGDatabase_H" name="SG.Server.Host.Database.SGDatabase">
        <endpoint address="ISGDatabase_H_http" binding="wsHttpBinding" contract="SG.Server.Host.Database.ISGDatabase_H" />
        <endpoint address="ISGDatabase_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.Database.ISGDatabase_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/ISGDatabase_H" />
            <add baseAddress="net.tcp://localhost:8009/ISGDatabase_H" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ISGSetFunSQL_H" name="SG.Server.Host.Set.SGSetFunSQL">
        <endpoint address="ISGSetFunSQL_H_http" binding="wsHttpBinding" contract="SG.Server.Host.Set.ISGSetFunSQL_H" />
        <endpoint address="ISGSetFunSQL_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.Set.ISGSetFunSQL_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/ISGSetFunSQL_H" />
            <add baseAddress="net.tcp://localhost:8009/ISGSetFunSQL_H" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SGBaseUser_H" name="SG.Server.Host.Base.SGBaseUser">
        <endpoint address="SGBaseUser_H_http" binding="wsHttpBinding" contract="SG.Server.Host.Base.ISGBaseUser_H" />
        <endpoint address="SGBaseUser_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.Base.ISGBaseUser_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/SGBaseUser_H" />
            <add baseAddress="net.tcp://localhost:8009/SGBaseUser_H" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="CommonService_H" name="SG.Server.Host.Base.CommonService">
        <endpoint address="CommonService_H_http" binding="wsHttpBinding" contract="SG.Server.Host.Base.ICommonService_H" />
        <endpoint address="CommonService_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.Base.ICommonService_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/CommonService_H" />
            <add baseAddress="net.tcp://localhost:8009/CommonService_H" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SGBaseDict_H" name="SG.Server.Host.Base.SGBaseDict">
        <endpoint address="SGBaseDict_H_http" binding="wsHttpBinding" contract="SG.Server.Host.Base.ISGBaseDict_H" />
        <endpoint address="SGBaseDict_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.Base.ISGBaseDict_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/SGBaseDict_H" />
            <add baseAddress="net.tcp://localhost:8009/SGBaseDict_H" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ExtGridControl_H" name="SG.Server.Host.ExtControl.ExtGridControl">
        <endpoint address="ExtGridControl_H_http" binding="wsHttpBinding" contract="SG.Server.Host.ExtControl.IExtGridControl_H" />
        <endpoint address="ExtGridControl_H_tcp" binding="mexTcpBinding" contract="SG.Server.Host.ExtControl.IExtGridControl_H" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/ExtGridControl_H" />
            <add baseAddress="net.tcp://localhost:8009/ExtGridControl_H" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ISGDatabase_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="ISGSetFunSQL_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="SGBaseUser_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="CommonService_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="SGBaseDict_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="ExtGridControl_H">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>