<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="MetadataExchangeTcpBinding_CommonService_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MetadataExchangeTcpBinding_SGBaseDict_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MetadataExchangeTcpBinding_SGBaseUser_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MetadataExchangeTcpBinding_SGDatabase_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MetadataExchangeTcpBinding_SGSetFunSQL_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MetadataExchangeTcpBinding_ExtGridControl_H" closeTimeout="00:30:00"
         openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
         transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
         hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
         maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CommonService_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_SGBaseDict_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_SGBaseUser_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_SGDatabase_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_SGSetFunSQL_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ExtGridControl_H" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8008/CommonService_H/CommonService_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CommonService_H"
        contract="Base_CommonService_H.CommonService_H" name="WSHttpBinding_CommonService_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/CommonService_H/CommonService_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_CommonService_H"
        contract="Base_CommonService_H.CommonService_H" name="MetadataExchangeTcpBinding_CommonService_H" />
      <endpoint address="http://localhost:8008/SGBaseDict_H/SGBaseDict_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SGBaseDict_H"
        contract="Base_SGBaseDict_H.SGBaseDict_H" name="WSHttpBinding_SGBaseDict_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/SGBaseDict_H/SGBaseDict_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_SGBaseDict_H"
        contract="Base_SGBaseDict_H.SGBaseDict_H" name="MetadataExchangeTcpBinding_SGBaseDict_H" />
      <endpoint address="http://localhost:8008/SGBaseUser_H/SGBaseUser_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SGBaseUser_H"
        contract="Base_SGBaseUser_H.SGBaseUser_H" name="WSHttpBinding_SGBaseUser_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/SGBaseUser_H/SGBaseUser_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_SGBaseUser_H"
        contract="Base_SGBaseUser_H.SGBaseUser_H" name="MetadataExchangeTcpBinding_SGBaseUser_H" />
      <endpoint address="http://localhost:8008/ISGDatabase_H/ISGDatabase_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SGDatabase_H"
        contract="Database_ISGDatabase_H.SGDatabase_H" name="WSHttpBinding_SGDatabase_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/ISGDatabase_H/ISGDatabase_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_SGDatabase_H"
        contract="Database_ISGDatabase_H.SGDatabase_H" name="MetadataExchangeTcpBinding_SGDatabase_H" />
      <endpoint address="http://localhost:8008/ISGSetFunSQL_H/ISGSetFunSQL_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SGSetFunSQL_H"
        contract="Set_SGSetFunSQL_H.SGSetFunSQL_H" name="WSHttpBinding_SGSetFunSQL_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/ISGSetFunSQL_H/ISGSetFunSQL_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_SGSetFunSQL_H"
        contract="Set_SGSetFunSQL_H.SGSetFunSQL_H" name="MetadataExchangeTcpBinding_SGSetFunSQL_H" />
      <endpoint address="http://localhost:8008/ExtGridControl_H/ExtGridControl_H_http"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ExtGridControl_H"
        contract="ExtControl_ExtGridControl_H.ExtGridControl_H" name="WSHttpBinding_ExtGridControl_H">
        <identity>
          <userPrincipalName value="Lenovo-PC\lenovo" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8009/ExtGridControl_H/ExtGridControl_H_tcp"
        binding="netTcpBinding" bindingConfiguration="MetadataExchangeTcpBinding_ExtGridControl_H"
        contract="ExtControl_ExtGridControl_H.ExtGridControl_H" name="MetadataExchangeTcpBinding_ExtGridControl_H" />
    </client>
  </system.serviceModel>
</configuration>